.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1
}

.tc-dp {
  color: #2E1F27;
}

.tc-ly {
  color: #E7E393
}

.tc-db {
  color: #854D27
}

.bg-dp {
  background-color: #2E1F27;
}

.bg-do {
  background-color: #DD7230
}